@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: rgb(13, 13, 14);
  background-color: white;
}
button{
  background-color: rgba(162, 152, 117, 1);

  
}
header{
  background-color: rgba(162, 152, 117, 1);
  ;
}